.header {
  padding: var(--spacing-xl) 0;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__info {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.header__info h1 {
  font-size: 3rem;
}

.header__info p {
  font-size: 1.4rem;
  color: var(--color-text-muted);
}
