.modal {
  width: 90%;
  max-width: 50rem;
  margin: auto;
  background-color: transparent;
  border: none;
  outline: none;
}

.modal__content {
  position: relative;
  width: 100%;
  background-color: var(--color-bg-main);

  border-radius: 16px;
  padding: 2rem;
  box-shadow: var(--shadow-md);
}

dialog::backdrop {
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__title {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.form__label {
  font-size: 1.2rem;
  font-weight: 500;
}

.form__input,
.form__textarea {
  font-family: var(--font-primary);
  border: 1px solid var(--color-border);
  outline: none;
  padding: var(--spacing-sm);
  border-radius: var(--spacing-xs);
  font-size: 1.4rem;
}

.form__input:focus,
.form__textarea:focus {
  border: 1px solid var(--color-brand-primary-hover);
}

.form__wrapper textarea {
  resize: none;
}

.form__actions {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  align-self: flex-end;
}

.form__actions .btn {
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: 0.3rem;
}

.btn--success {
  background-color: var(--color-brand-primary-hover);
  color: #fff;
}

.modal__close-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.modal__close-button:hover {
  background-color: rgb(200, 32, 32);
}

.btn-close i {
  font-size: 1.2rem;
}

.btn--primary:disabled {
  background-color: var(--color-brand-primary-light);
  cursor: not-allowed;
}
